
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   
    @Html.Partial("_Invoice");
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="@Url.Action("GeneratePDF", "Examples")" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
        </div>
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->